@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body{
    font-family: Montserrat;
    color: #160041;
}
header{
    top: 0px;
    position: absolute;
    bottom: auto;
    width: 100%;
}
.navbar{
    border-bottom: 1px solid #FFFFFF;
    border-color: rgb(255,255,255,0.1);
}
.nav-item{
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.3em;
    text-align: left;

}

.bg-img-hero{
    height: 844px;
    background-size:cover;
}
.bg-img-hero-content, .basvuru-hero{
    background-size:cover;
    height: 409px;
    background-position: center;
}

.marka-form{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.15), inset 1px 1px 1px #FFFFFF;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    height: 462px;
}

.marka-form input[type=text], .marka-form input[type=number], .marka-form select, .marka-form .select2-container--default .select2-selection--single{
    height: 51px;
    width: 310px;
    padding-left: 14px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.3em;
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    color: #160041;
    border: none;
}
  input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #160041!important;
    opacity: 1; /* Firefox */
  }

  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #160041!important;
    opacity: 1;
  }

  input::-ms-input-placeholder { /* Microsoft Edge */
    color: #160041!important;
    opacity: 1;
  }
.marka-form input[type=text]:focus {
    background: rgba(255, 255, 255, 0.5);
    border:none;
  }

.marka-form .form-group{
    margin-bottom: 20px;
}

.select2-results{
    padding-right: 16px;
}
.select2-results__options::-webkit-scrollbar {
    width: 16px;
}

/* Track */
.select2-results__options::-webkit-scrollbar-track {
    box-shadow: inset 0px 0 1px white;
    border-radius: 0px;
}
.select2-results:after{
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: calc(100% - 55px);
    position: absolute;
    right: 23px;
    top:51px;
}
/* Handle */
.select2-results__options::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
.select2-results__options::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset -1px -1px 1px #ffffff, inset 4px 4px 10px rgb(0 0 0 / 10%);
    border: none;
    padding-left: 10px;
    height: 43px;

}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    color:inherit!important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single{
    border: none;
    outline: none;
}
.select2-container--default .select2-selection--single{
    border: none;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding: 0;
    color: #160041;
}
.select2-container--open .select2-dropdown{
    width: 310px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.15), inset 1px 1px 1px #FFFFFF;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 16px;
    right: 16px;
    width: 18px;
    height: 18px;
    background: url('../images/arrow-down-white.svg') no-repeat;
}
.select2-selection__arrow b{
    display:none !important;
}
.select2-container--open .select2-selection--single .select2-selection__arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select2-search__field{
    outline: none !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.select2-container--default .select2-results__option--selected{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.select2-results__option--selectable{
    padding-left: 14px;
    margin:0 7px;
}
.select2-results__option{
    padding: 18px 8px;
    letter-spacing: 0.3em;
    font-size: 14px;
}
.boldUndeline{
    font-weight: 600;
    text-decoration: underline;
}

.form-check-input{
    margin:0;
}

.marka-form input[type=checkbox] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
}
.form-check label{
    padding-left: 27px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #160041;
    cursor: pointer;
}
.form-check label:before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 15px 0;
    background: transparent;
    box-shadow: 0 0 1px #160041;
}
.form-check label:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 15px 0;
    opacity: 0;
    background: linear-gradient(180deg, #FE38BF 0%, #FFB573 100%);
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.form-check label:before, .form-check label:after {
    content: "";
    position: absolute;
    top: 25px;
}
.form-check input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.btn-primary{
    background: linear-gradient(128.21deg, #FE38BF -74.01%, #FFB573 114.09%);
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-align: center;
    padding: 16px 0;
    border: none;
}
.btn-primary:hover{
    background: linear-gradient(128.21deg, #FFB573 -74.01%, #FE38BF 114.09%);
}

.btn-secondary{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.3em;
    text-align: center;
    padding: 16px 16px;
    border: none;
}
.btn-secondary:hover{
    background: linear-gradient(327.73deg, #AD5CFF -0.31%, #6107FF 100%);
}
.gradient2{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
}
.border-radius-10{
    border-radius: 10px;
}
.fsize15{font-size: 15px}
.fsize16{font-size: 16px!important;}
.fsize46{font-size: 46px!important;}
.lheight22{line-height: 22px}
.lheight46{line-height: 46px}
.fweight600{font-weight: 600}
.top-30px{top: 30px}
.right-18px{right: 18px}
.bottom-0px{bottom: 0}
.absolute-center{
    left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
}
.standart-baslik{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}


.content-card{
    background: rgba(255, 255, 255, 0.7);
    /*  */
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.15), inset 1px 1px 1px #FFFFFF;
    backdrop-filter: blur(17.2881px);
    -webkit-backdrop-filter: blur(17.2881px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 18px;
    height: 255px;
    left: 0px;
    top: 0px;
    padding: 33px 0 0 22px;
    background-repeat: no-repeat;
    background-position-x: right;
    margin-bottom: 33px;
}

@-moz-document url-prefix() {
    .content-card{
        background-color: #fff;
    }
    .select2-container--open .select2-dropdown{
        background-color: #fff;
    }
    .select2-container--default .select2-results__option--selected{
        background-color: #e1e1e1;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #e1e1e1;
    }
    .select2-results::after {
        border: none;
    }
    .select2-results{
        scrollbar-color: #f1f1f1 white;
    }

}

.content-card span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 7px;
    line-height: 114.7%;
    letter-spacing: 0.3em;
    color: #160041;
}
.content-card h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #160041;
    width: 145px;
    min-height: 66px;

}
.img-cerceve{

    border-radius: 20px;
    height: 380px;
    width: calc(100% - 0px);
    max-width: 960px!important;
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}
.content-card p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: capitalize;
    color: #160041;
    width: 145px;
    height: 66px;
}

.content-card i{
    margin-left: 120px;
    font-size: 20px;
    line-height: 26px;
}
.content-card a{
    color: #160041;
}
.content-card:hover span, .content-card:hover h3, .content-card:hover p {
    text-decoration: none!important;
}
.content-card:hover{
    box-shadow: 0px 0px 51.8644px rgba(5, 5, 5, 0.25), inset 0.864407px 0.864407px 0.864407px #FFFFFF;
}
.tek-rehber .content-card{
    position: absolute;
    right: 0;
    top: -200px;
}

.gradient-purple{
    /*background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);*/
    background-position: -10px -10px!important;
}
.gradient-purple span, .gradient-purple a, .gradient-purple h3{
    color: #FFFFFF!important;
}
.gradient-purple i{
    margin-right: 20px;
}
.info-hr{
    background: rgba(22, 0, 65, 0.5);
}




.info .icon img{
    margin-top: 29px;
}
/*.info .icon .lines:before, .info .icon .lines:after {
    position: absolute;
    margin:auto;
    height: 2px;
    background: rgba(22, 0, 65, 0.5);
    width: 30%;
    top: 24%;
    content: "";

}
.info .icon .lines:after {
   right: 0;
}
.info .icon .lines:before{
    left: 0;
} */
.lines{
    background: #ffffff;
}

.info span{
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 9px;
    letter-spacing: 0.3em;
    text-align: left;
    color: #160041;
}
.info h4{
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #160041;
}
.info p{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #160041;
}

.services{
    padding-top: 68px;
}

section .subtitle{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-bottom: 16px;
}

section h1{
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    margin-bottom: 20px;
}
section h2{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    margin-bottom: 20px;

}

section .lead{
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;

}





.service-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0 32px 0 32px;
    margin-bottom: 30px;
}
.service-box:hover{
    cursor: pointer;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
}
.service-icon{
    display: inline-block;
    width: 78px;
}
.service-icon i{
    font-size: 38px;
    line-height: 38px;

}
.service-icon i::before{
    transform: rotate(32deg);
}
.service-body{
    display: inline-block;
    width: 280px;
    padding-top: 25px;
    margin-right:54px;
}

.service-body .subtitle{
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0.3em;
}
.service-body h3{
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
}
.service-body .bottom-lead{
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

}

.service-button{
    display: inline-block;
}

.btn-third{
    width: 86px;
    height: 62px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 11px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.3em;
    text-align: center;
}
.btn-third:hover, .service-box:hover .btn-third{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}

.bg-dark-blue{
    background: #160041;
}
.bg-footer-bottom{
    background: #0D0025;
}
.footer-logo{
    height: 83px;
    margin-top: 57px;
}
.footer-mail{
    margin-top: 87px;
    font-weight: 500;
    font-size: 21px;
    line-height: 114.7%;
    color: #FFFFFF;
}
.footer-mail:hover{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.footer-content{
    margin-top: 18px;
    font-weight: 300;
    font-size: 17px;
    line-height: 149.1%;
    margin-bottom: 37px;
}

.footer-menu{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 21px;
    padding-bottom: 23px;
}
.footer-menu a{
    opacity: 0.5;
}
.footer-menu a:hover{
    opacity: 1;
    text-decoration: none;
}


.footer-bottom{
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: rıght;

}

.social-media-title{
    font-size: 21px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: rıght;
    margin-bottom: 20px;
}

.social-icons a{
    color: #FFFFFF;
    opacity: 0.5;
}
.social-icons a:hover{
    opacity: 1;
}
.social-icons i{
    font-size: 31px;
    line-height: 31px;
}

.navbar-nav{
    flex-direction:row;
}

.pink-degrade{
    /*background: -webkit-linear-gradient(180deg, #FE38BF 100%, #FFB573 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #FE38BF;
}
.marka-sonuc-lead{
    font-size: 24px!important;
    line-height: 27px!important;
}
/**
Success Multi Result Page
 */


.media-box-right{
    padding: 32px 50px 30px 48px;
}
.media-box-left h5, .media-box-right h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}


.media-box-left .media-body, .media-box-right .media-body{
    font-size: 15px;
    line-height: 23px;
}

.media-box-right i{
    font-size: 19px;
    line-height: 21px;
    margin-right: 14px;
}

.refund-guarantee{
    background: linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%);
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.15), inset 1px 1px 1px #FFFFFF;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    color: #ffffff;
    padding: 33px 0 11px 48px;
    z-index: -1;
}
.btn-outline-success{
    border-radius: 10px!important;
}


.result_card{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 15px;
    line-height: 22px;
}
.result_card .baslik{
    font-size: 11px;
    line-height: 13px;
    color: rgba(22, 0, 65, 0.2);
    font-weight: 700;
}
.search-info{
    background: rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.yeni-sorgu{
    height: 294px;
    background-size:cover;
    background-position: center;
}

.info-box{
    background: #FFFFFF;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 42px 59px 43px 40px;
    margin-bottom: 35px;
    min-height: 305px;

}
.info-box .baslik{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.info-box .baslik a{
    color: #160041;
}

.manset-image img, .rehber-icerik img, .manset-image .manset-image-cover{
    border-radius: 20px;
}
.manset-image-cover{
    height: 380px;
    width: calc(100% - 40px);
    max-width: 960px!important;
    background-size: cover!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
}


.rehber-icerik img{
    text-align: center;
    margin:auto;
}
/* Başvuru Adımı */
.basvuru-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
}
.basvuru-title:before{
    background: url("../images/basvuru-title-tick.svg");
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -30px;
    top: 8px;
}
.paket-dis{
    background: #fff;
    /*box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.1);*/
    border-radius: 20px;
    padding-top: 5px;
    width: 207px;
}
.paket-dis.active, .paket-dis:hover{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    cursor:pointer;
}
.paket-dis.active, .paket-dis:hover{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    cursor:pointer;
}
.paket{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border:none;
    border-radius: 20px;
    border:3px solid #ffffff;
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}
.paket-dis.active .paket, .paket:hover{
    border: 3px solid #20B038;
}

.paket-dis .card-body img{
    filter: grayscale(100%);
    opacity: 0.3;
}
.paket-dis.active .card-body img, .paket-dis:hover .card-body img{
    filter: inherit;
    opacity: 1;
}
.paket .card-header{
    background: none;
    border-bottom: none;
    padding-top: 24px;
}
.paket .baslik-ust{
    font-size: 9px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    height: 13.6px;
}
.ortaYazi{
    height: 36.8px;
}
.paket .card-header h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

}
.paket .paket-icon{
    font-size: 14px;
    height: 18.4px;
}
.paket .paket-icon i{
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    background: -webkit-linear-gradient(
        327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paket .card-footer{
    border: none;
    background: none;
}

.basvuru-ozeti .card{
    background: rgba(255, 255, 255, 0.8);

    /* /Blurred */
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.15), inset 1px 1px 1px #FFFFFF;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    border: none;
}
.basvuru-ozeti{
    width: 365px;
}
.basvuru-ozeti .card-header .ozet-paket-name div{
    display: inline-block;
    width: 88px;
    font-size: 13px;
    line-height: 15px;
    padding: 8px 0;
    text-align: center;
    background: #ffffff;
    border: 1px solid #D4D0DC;
    box-sizing: border-box;

    /* Elevation 0 */

    border-radius: 10px;
}
.basvuru-ozeti .card-header .ozet-paket-name .active{
    border: 2px solid;
    border-color: #20B038;



}
.basvuru-ozeti .card-header .ozet-paket-name{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    margin-top: 32px;
}
.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
.basvuru-ozeti .card-header{
    border: none;
    background: none;
    padding-top: 22px;
    padding-left: 48px;
    padding-right: 48px;
}
.basvuru-ozeti .card-header h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.basvuru-ozeti .card-body{
    padding-left: 48px;
    padding-right: 48px;
}
.basvuru-ozeti .description{
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-bottom: 13px;
}
.basvuru-ozeti .service-name{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%);
    background: -webkit-linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.basvuru-ozeti .price{
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: rıght;
}
.basvuru-ozeti .total-price{
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}

.inputBasvuru {
    font-weight: 600;
    font-size: 18px;
    line-height: 114.7%;
    color: #60D66A;
    background: rgba(255, 255, 255, 0.3);

    /* Light Gray */
    border: 1px solid #EFEFEF;
    box-sizing: border-box;

    /* Button Soft UI */
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 23px 20px;
}

.inputBasvuru::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A49FAD!important;
    opacity: 1; /* Firefox */
}

.inputBasvuru:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A49FAD!important;
    opacity: 1;
}

.inputBasvuru::-ms-input-placeholder { /* Microsoft Edge */
    color: #A49FAD!important;
    opacity: 1;
}
.inputBasvuru:focus {
    background: rgba(255, 255, 255, 0.5);
    border:1px solid #60D66A;
    outline: 0 none;
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    color: #60D66A;
}

.custom-radio .custom-control-input:checked ~ .basvuruRadioLabel::after {
    background-image:none!important;
}
.custom-control-input:checked ~ .basvuruRadioLabel::before {
    color: #fff;
    border-color: #60D66A;
    background-color: #60D66A;
}
.custom-control-input:focus{
    outline: 0 none!important;
}
.border-radius-20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.sektorCheckbox{
    background: #FFFFFF;
    box-shadow: 0px 0px 8.84615px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    font-weight: bolder;
    padding-left: 45px;
    height: 70px;
}
.sektorCheckbox::before{
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 15px 0;
    background: transparent;
}
.sektorCheckbox:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 15px 0;
    opacity: 0;
    background: linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

}
.basvuru-checkbox{
    padding-left: 0;
}
.basvuru-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.basvuru-checkbox input[type=checkbox]:checked + .sektorCheckbox {
    border: 1px solid #60D66A;
}
.basvuru-checkbox label:before, .basvuru-checkbox label:after {
    content: "";
    position: absolute;
    top: 56%!important;
    border-radius:0!important;
}
.basvuru-checkbox input:checked ~ .sektorCheckbox::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.logo-upload{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #D4D0DC;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 114.7%;
    text-align: center;
    color: rgba(22,0,65,0.3);
    padding-top: 16px;
    padding-bottom: 20px;
}
.logo-upload i{
    font-size: 28px;
    margin:16px 0;
}
.logo-upload:hover{
    cursor: pointer;
}

.ilave-control-label {
    background: #FFFFFF;
    box-shadow: 0px 0px 8.84615px rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 100%;
    padding-left: 63px;
    height: 200px;
    padding-top: 26px;
    padding-right: 31px;
}
.ilave-control-label:before, .ilave-control-label:after {
    content: "";
    position: absolute;
    top: 55px;
    border-radius: 0!important;
}
.ilave-control-label::before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 28px 0;
    background: transparent;
    border: #adb5bd solid 1px;
}
.ilave-control-label:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 28px 0;
    opacity: 0;
    background: linear-gradient(
        0deg
        , #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.ilave-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.ilave-checkbox input[type=checkbox]:checked + .ilave-control-label {
    border: 1px solid #60D66A;
}
.ilave-checkbox input:checked ~ .ilave-control-label::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.ilave-control-label:hover, .sektorCheckbox:hover{
    cursor:pointer;
}
.ilave-control-input{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.ilaveTitle{
    width: 176px;
    font-weight: bolder;
    margin-bottom:18px;
}
.ilaveDesc{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}
.ilavePrice{
    left: 77.1%;
    right: -2.9%;
    top: 13%;
    bottom: 62%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-right: 9px;
    padding-top: 9px;
}
.ilaveNumber, .ilaveTlIcon, .ilaveKdv {
    font-weight: 700;
}
.ilaveNumber{
    font-size: 17px;
    line-height: 17px;
}
.ilaveTlIcon{
    font-size: 11px;
    line-height: 11px;
}
.ilaveKdv{
    font-size: 11px;
    line-height: 11px;
}

.default-checkbox label:before, .default-checkbox label:after {
    content: "";
    position: absolute;
    top: 59%;
    border-radius: 0!important;
}
.default-checkbox label::before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 0 0;
    background: transparent;
}
.default-checkbox label:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 0px 0;
    opacity: 0;
    background: linear-gradient(
        0deg
        , #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.default-checkbox label{
    padding-left: 30px;
}
.default-checkbox input[type=radio]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.default-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.default-checkbox input:checked ~ .default-checkbox-label::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.border-radius label::before{
    border-radius: 50%!important;
}
.border-radius label:after{
    border-radius: 50%!important;
}
.sinif-checkbox{
    font-size: 12px;
    line-height: 18px;
}
.basvuru-ozeti-mobil{
    bottom: 0;
    left:calc(50% - 158px);
}
.basvuru-ozeti-mobil .box-outer{
    background: #f8f8f8;
    box-shadow: 0px 0px 10px rgb(5 5 5 / 15%), inset 1px 1px 1px #ffffff;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: none;
    padding-top: 10px;
}
.basvuru-ozeti-mobil .box-inside{
    background: rgba(22, 0, 65, 0.8);
    box-shadow: 0px 0px 40px rgba(5, 5, 5, 0.25), inset 1px 1px 1px #CEC7DB;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 14px 20px 20px 21px;
}
.basvuru-up-icon{
    left:calc(50% - 32px);
    top: -32px;
}
.basvuru-ozeti-mobil .iade, .white-shadow-box .iade{
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #20B038;
}
.basvuru-ozeti-mobil .iade-info, .white-shadow-box .iade-info{
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #20B038;
}
.mobil-price{
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: rıght;
}
.mobile-ozet-baslik{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-green-degrade{
    background: linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%);
    border-radius: 10px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-align: center;
    padding: 18px 0;
    width: 100%;
    border: none;
}
.btn-green-degrade:hover{
    background: linear-gradient(0deg, #60D66A 0.01%, #20B038 100.01%);
    border: none;
}
.btn-green-degrade:focus{
    outline: 0 none!important;
    border: none;
}
.white-shadow-box{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 37px 47px 11px 48px;
}

.white-shadow-box .iade{
    font-size:15px;
    line-height: 22px;
}
.white-shadow-box .iade-info{
    font-size:11px;
    line-height: 19px;
}
.white-shadow-box a{
    color: #160041;
}
.sozlesme-box{
    padding: 26px 37px 33px 32px;
    font-size: 15px;
    line-height: 21px;
}
.marka-edit-input{
    /*background: url("../images/pencil.svg") no-repeat right center;*/
}
.edit-pencil{
    filter: grayscale(100%);
    opacity: 0.3;
    right: 25px;
    top: 19px;
}


.custom-radio .custom-control-input:checked ~ .basvuruRadioLabel::after {
    background-image:none!important;
}
.custom-control-input:checked ~ .basvuruRadioLabel::before {
    color: #fff;
    border-color: #60D66A;
    background-color: #60D66A;
}
.custom-control-input:focus{
    outline: 0 none!important;
}
.border-radius-20{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.sektorCheckbox{
    background: #FFFFFF;
    box-shadow: 0px 0px 8.84615px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    font-weight: bolder;
    padding-left: 45px!important;
    height: 70px;
}
.sektorCheckbox::before{
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 15px 0!important;
    background: transparent;
}
.sektorCheckbox:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 15px 0!important;
    opacity: 0;
    background: linear-gradient(0deg, #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

}
.basvuru-checkbox{
    padding-left: 0;
}
.basvuru-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.basvuru-checkbox input[type=checkbox]:checked + .sektorCheckbox {
    border: 1px solid #60D66A;
}
.basvuru-checkbox label:before, .basvuru-checkbox label:after {
    content: "";
    position: absolute;
    top: 56%;
    border-radius:0!important;
}
.basvuru-checkbox input:checked ~ .sektorCheckbox::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.logo-upload{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #D4D0DC;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 1px #FFFFFF, inset 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 114.7%;
    text-align: center;
    color: rgba(22,0,65,0.3);
    padding-top: 16px;
    padding-bottom: 20px;
}
.logo-upload i{
    font-size: 28px;
    margin:16px 0;
}
.logo-upload:hover{
    cursor: pointer;
}

.ilave-control-label {
    background: #FFFFFF;
    box-shadow: 0px 0px 8.84615px rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 100%;
    padding-left: 63px;
    height: 200px;
    padding-top: 26px;
    padding-right: 31px;
}
.ilave-control-label:before, .ilave-control-label:after {
    content: "";
    position: absolute;
    top: 55px;
    border-radius: 0!important;
}
.ilave-control-label::before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 28px 0;
    background: transparent;
    border: #adb5bd solid 1px;
}
.ilave-control-label:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 28px 0;
    opacity: 0;
    background: linear-gradient(
        0deg
        , #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.ilave-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.ilave-checkbox input[type=checkbox]:checked + .ilave-control-label {
    border: 1px solid #60D66A;
}
.ilave-checkbox input:checked ~ .ilave-control-label::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.ilave-control-label:hover, .sektorCheckbox:hover{
    cursor:pointer;
}
.ilave-control-input{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}
.ilaveTitle{
    width: 176px;
    font-weight: bolder;
    margin-bottom:18px;
}
.ilaveDesc{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}
.ilavePrice{
    left: 77.1%;
    right: -2.9%;
    top: 13%;
    bottom: 62%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-right: 9px;
    padding-top: 9px;
}
.ilaveNumber, .ilaveTlIcon, .ilaveKdv {
    font-weight: 700;
}
.ilaveNumber{
    font-size: 17px;
    line-height: 17px;
}
.ilaveTlIcon{
    font-size: 11px;
    line-height: 11px;
}
.ilaveKdv{
    font-size: 11px;
    line-height: 11px;
}

.default-checkbox label:before, .default-checkbox label:after {
    content: "";
    position: absolute;
    top: 68%;
    border-radius: 0!important;
}
.default-checkbox label::before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 0 0;
    background: transparent;
}
.default-checkbox label:after {
    left: 3px;
    width: 14px;
    height: 14px;
    margin: -12px 0px 0;
    opacity: 0;
    background: linear-gradient(
        0deg
        , #20B038 0.01%, #60D66A 100.01%)!important;
    border-radius: 2px;
    transform: translate3d(-0px, 0, 0) scale(0.5);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.default-checkbox label{
    padding-left: 30px;
}
.default-checkbox input[type=radio]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.default-checkbox input[type=checkbox]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.default-checkbox input:checked ~ .default-checkbox-label::before {
    color: #fff;
    border-color: #adb5bd ;
    background-color: initial;
}
.border-radius label::before{
    border-radius: 50%!important;
}
.border-radius label:after{
    border-radius: 50%!important;
}
.sinif-checkbox{
    font-size: 12px;
    line-height: 18px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22,0,65,0.9);
    z-index: 2;
  }
#lottie{
    display: none;
    width: 234px;
    height: 300px;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.old_price{
    font-weight: 600;
    font-size: 18px;
    line-height: 114.7%;
    text-align: right;
    text-decoration-line: line-through;
    color: #AD5CFF;
    background: -webkit-linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    background: linear-gradient(327.73deg, #6107FF -0.31%, #AD5CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.strike {
    background: -webkit-linear-gradient(bottom, transparent calc(.4em - 1px), #6107FF calc(.4em - 1px), #6107FF .4em, transparent .4em);
    background-size: 100% 1em;
}

@media (min-width: 992px){
   .mt-lg-n10, .my-lg-n10 {
        margin-top: -12rem !important;
    }

}
@media only screen and (min-device-width: 320px) {
    /*.mt-n10, .my-n10 {
        margin-top: -10rem !important;
    }*/
    .refund-guarantee{
        bottom: -82px;
    }
    .rehber-hero{
        height: 332px;
    }
    .manset-image{
        top:110px;
    }
    .rehber-baslik{
        margin-top: 125px;
    }
    .rehber-icerik p{
        margin-bottom: 40px;
    }
    .content-row{

        text-align: justify;
    }
    .content-row p, .content-row ul, .content-row table{
        padding-left:0px;
        padding-right:0px;
    }
    .content-row p .img-cerceve, .content-row div .img-cerceve{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .yeni-sorgu{
        margin-bottom: 280px;
    }
    .yeni-sorgu-coklu{
        margin-bottom: 0;
    }
    .hero-lead{
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
    }
    .basvuru-hero{
        height:393px;
    }
    .no-wrap{
        flex-wrap: initial;
    }
    .logo img{
        height: 24px!important;
    }
    .wp-top{
        height: 40px!important;
    }
    .btn-secondary{
        font-size: 12px!important;
        padding: 11px 11px!important;
    }
    .navbar{
        padding: 18px 0 14px 0;
    }
    .form-container{
        padding-top: 70px;
    }
    .title-container{
        padding-top: 150px;
    }
    .hero-h1{
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        line-height: 36px;

    }

    .hero-span{
        font-size: 13px;
        line-height: 16px;
        width: 160px;
        margin-top: 10px;
    }
    .marka-form{
        width: 100%;
        padding: 26px 16px 20px 16px;
    }
    .marka-form input[type=text], .marka-form select, .marka-form .select2-container--default .select2-selection--single{
        width: 100%;
    }
    .marka-form select:focus{
        outline: 0 none!important;
        border: none;
    }

    .marka-form select{
        /*-webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;*/
    }
    .marka-form select::-ms-expand {
       /* display: none;*/
    }



    .marka-adim-section{
        margin-top: 80px;
    }
    .info .icon{
        width: 90px;
        height: 114px;
        float: left;
    }
    .info .info-content{
        width: 195px;
        float: right;
        margin-right: 0px;
    }
    .content-card{
        /*width: 290px;*/
        width: 100%;
        background-position-x:190px;
    }
    .social-media-title{
        margin-top: 27px;
    }
    .media-box-left{
        padding: 43px 12px 43px 23px;
    }
    .green-line{
        position: absolute;
        left: 46px;
        top: 98px;
        z-index: 0;
    }
    .green-line-small{
        position: absolute;
        left: 146px;
        top: 63px;
        z-index: -1;
    }
    .media-box-left-container{
        top: -160px;
    }
    .h3-baslik{
        margin-left: 15px;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;

    }
    .result_card{
        margin-bottom: 15px;
        padding-top: 14px;
        padding-left:37px;
        padding-bottom: 0;
    }
    .result_card .sahibi{
        width: 100%;
    }
    .result_card .marka{
        width: 140px;
        margin-bottom: 15px;
    }
    .result_card .siniflar{
        width: 80px;
        margin-bottom: 15px;
    }
    .result_card .durum{
        width: 80px;
        margin-bottom: 0;
    }
    .result_card .tescil_tarihi{
        width: 140px;
        margin-bottom: 0px;
    }
    .search-info{
        margin-left:15px;
        margin-right:15px;
    }

    .transparent-w-auto-card {
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 51.8644px rgb(5 5 5 / 25%), inset 0.864407px 0.864407px 0.864407px #ffffff;
        backdrop-filter: blur(17.2881px);
        -webkit-backdrop-filter: blur(17.2881px);
        border-radius: 18px;
        height: auto;
        background-repeat: no-repeat;
        background-position-x: right;
        margin-bottom: 33px;
       /* margin-left: 15px;
        margin-right: 15px;*/
    }
    .media-box-left h5, .media-box-right h5{
        font-size: 16px;
    }
    .basvuru-box-container {
        height: 295px;
        margin-top: 70px;
    }
    .basvuru-box-container-uygun {
        height: 220px;
        margin-top:70px;
    }
    .pt-70{
        padding-top: 70px;
    }
    .mobil-mt-350{
        margin-top: 350px;
    }
}
@media (min-width: 359px){
    .refund-guarantee{
        bottom: -65px;
    }
}
@media (min-width: 370px) {
    .refund-guarantee{
        bottom: -65px;
    }
    .title-container{
        padding-top: 150px;
    }
    .basvuru-hero .title-container{
        padding-top: 150px;
    }
    .basvuru-hero .title-container .hero-h1{
        font-size: 35px;
        line-height: 40px;
    }
    .marka-form{
        padding: 35px 29px 29px 28px;
    }
    .info .icon{
        width: 114px;
        height: 114px;
        float: left;
    }
    .info .info-content{

        margin-right: 20px;
    }
    .content-card{
        /*width: 345px;*/
        width: 100%;
    }
    .green-line{
        left: 108px;
    }
    .green-line-small{
        left: 194px;
    }
    .result_card{
        padding-top: 14px;
        padding-left:37px;
        padding-bottom: 0;

    }
    .result_card .sahibi{
        width: 100%;
    }
    .result_card .marka{
        width: 160px;
    }
    .result_card .siniflar{
        width: 100px;
    }
    .result_card .durum{
        width: 90px;
    }
    .result_card .tescil_tarihi{
        width: 160px;
    }
    .media-box-left h5, .media-box-right h5{
        font-size: 21px;
    }


}
@media (min-width: 400px) {
    .info .info-content{

        margin-right: 40px;
    }
    .content-card{
        /*width: 366px;*/
        width: 100%;
        background-position-x:right;
    }
    .basvuru-box-container {
        height: 237px;
    }

}

@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .mobil-mt-350{
        margin-top: inherit;
    }
    .basvuru-box-container-uygun{
        margin-top: 0;
    }
    .basvuru-box-container {
        margin-top: 0px;
    }
    .pt-100{
        padding-top: 100px;
    }
    .refund-guarantee {
        bottom: -28px;
    }
    .rehber-hero{
        height: 409px;
    }
    .rehber-no-header-hero{
        height: 326px;
    }
    .hero-lead{
        font-size: 28px;
        line-height: 32px;
        font-weight: 500;
    }
    .hero-span{
        margin-top: 15px;
        font-size: 27px;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        width: auto;
    }
    .form-container{
        padding-top: 260px;
    }
    .mt-md-n6,
    .my-md-n6 {
        margin-top: -4rem !important;
    }
    .logo img{
        height: 36px!important;
    }
    .yeni-sorgu{
        margin-top: 172px;
        margin-bottom: 48px;
    }
    .btn-secondary{
        font-size: 16px!important;
        padding: 16px 16px!important;
    }
    .wp-top {
        height: 50px!important;
    }
    .navbar{
        padding: 40px 0 21px 0;
    }
    .content-card{
        width: 320px;
        background-position-x:170px;
    }
    .info .info-content {
        width: 150px;
    }
    .marka-form{
        width: 369px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .manset-image{
        top:190px;
    }
    .rehber-baslik{
        margin-top: 254px;
    }
    .rehber-icerik p{
        margin-bottom: 40px;
    }
    .content-row{
        /*padding-left: 100px;
        padding-right:100px;*/
        text-align: justify;
    }
    .content-row p, .content-row ul, .content-row table{
        margin-left:100px;
        margin-right:100px;
    }
    .content-row p .img-cerceve, .content-row div .img-cerceve{
        margin-left: -100px;
        margin-right: -100px;
        width: calc(100% + 200px);
    }

    .basvuru-hero{
        height: 320px;
    }
    .no-wrap{
        flex-wrap: wrap;
    }
    .basvuruMainContainer{
        width: 1060px;
    }
    .basvuru-box-container{
        height: 350px;
    }

    .title-container{
        padding-top: 176px;
    }
    .hero-h1{
        font-family:Montserrat;
        font-size: 45px;
        font-style: normal;
        font-weight: 900;
        line-height: 52px;
        letter-spacing: 0em;
    }


    .info{
        width: 195px;
    }
    .marka-adim-section{
        margin-top: 120px;
    }

    .ml-100{
        margin-left: 100px;
    }
    .pb-230{
        padding-bottom: 230px;
    }
    section .lead{
        width: 565px;
    }
    .mb-120{
        margin-bottom: 120px;
    }
    .footer-content{
        width: 334px;
    }
    .pt-90{
        padding-top: 90px;
    }
    .pb-100{
        padding-bottom: 100px;
    }
    .social-media-title{
        margin-top: 87px;
    }
    .list-inline-item{
        margin-right: 28px!important;
    }
    .marka-form{
        width: 369px;
        padding: 37px 29px 29px 30px;
    }
    .content-card{
        width: 366px;
        background-position-x:right;
    }
    .info .info-content {
        width: 195px;
    }
    .media-box-left{
        padding: 45px 57px 50px 41px;
    }
    .green-line{
        position: absolute;
        left: 238px;
        top: 98px;
        z-index: -1;
    }
    .green-line-small{
        position: absolute;
        left: 340px;
        top: 65px;
        z-index: -1;
    }
    .media-box-left-container{
        top: -75px;
    }
    .h3-baslik{
        margin-left: 40px;
    }
    .result_card{
        padding: 14px;
        margin: 0;
    }
    .result_card .sahibi{
        width: 193px;
    }
    .result_card .marka{
        width: 173px;
    }
    .result_card .siniflar{
        width: 100px;
    }
    .result_card .durum{
        width: 90px;
    }
    .result_card .tescil_tarihi{
        width: 126px;
    }
    .search-info{
        margin-left: 0;
        margin-right: 0;
    }
    .transparent-w-auto-card {
        height: 326px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


/***
MarkaArastirma.css
*/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.displayNone {
    display: none;
}

.visibilityHidden {
    visibility: hidden;
}

.visibilityVisible {
    visibility: visible;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    10000000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
   /* background: rgba( 255, 255, 255, .8 )
    50% 50%
    no-repeat;*/
    background: rgba(22,0,65,0.9) 50% 50%
    no-repeat;
}

/* When the body has the modal class, we turn
   the scrollbar off with overflow:hidden */
body.modalmode {
    overflow: hidden;
}

/* Anytime the body has the modal class, our
   modal element will be visible */
body.modalmode .modal {
    display: block;
}

/* Center the loader */
#loader {
    position: fixed;
    z-index: 20000000;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -60px 0 0 -60px;
    border: 24px solid #f3f3f3;
    border-radius: 50%;
    border-top: 24px solid #337ab7;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Responsive ReCaptcha*/
@media screen and (max-height: 479px) {
    #rc-imageselect, .g-recaptcha-with-ajax {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        display: block;
    }
}

/* Center the reCaptchaDiv */
#reCaptchaDiv {
    position: fixed;
    z-index: 30000000;
    left: 50%;
    top: 50%;
    width: 304px;
    height: 78px;
    margin-left:-152px; /* -1/2 width */
    margin-top:-39px; /* -1/2 height */
}




/***
Sweet Alert 2
*/



body.swal2-shown{overflow-y:hidden}body.swal2-iosfix{position:fixed;left:0;right:0}.swal2-container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:fixed;top:0;left:0;bottom:0;right:0;padding:10px;background-color:transparent;z-index:1060}.swal2-container.swal2-fade{-webkit-transition:background-color .1s;transition:background-color .1s}.swal2-container.swal2-shown{background-color:rgba(0,0,0,.4)}.swal2-modal{background-color:#fff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;border-radius:5px;box-sizing:border-box;text-align:center;margin:auto;overflow-x:hidden;overflow-y:auto;display:none;position:relative}.swal2-modal:focus{outline:0}.swal2-modal.swal2-loading{overflow-y:hidden}.swal2-modal .swal2-title{color:#595959;font-size:30px;text-align:center;font-weight:600;text-transform:none;position:relative;margin:0 0 .4em;padding:0;display:block}.swal2-modal .swal2-spacer{height:10px;color:transparent;border:0}.swal2-modal .swal2-styled{border:0;border-radius:3px;box-shadow:none;color:#fff;cursor:pointer;font-size:17px;font-weight:500;margin:0 5px;padding:10px 32px}.swal2-modal .swal2-styled:not(.swal2-loading)[disabled]{opacity:.4;cursor:no-drop}.swal2-modal .swal2-styled.swal2-loading{box-sizing:border-box;border:4px solid transparent;border-color:transparent;width:40px;height:40px;padding:0;margin:-2px 30px;vertical-align:top;background-color:transparent!important;color:transparent;cursor:default;border-radius:100%;-webkit-animation:rotate-loading 1.5s linear 0s infinite normal;animation:rotate-loading 1.5s linear 0s infinite normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-modal .swal2-styled+.swal2-styled{margin-top:15px}.swal2-modal :not(.swal2-styled).swal2-loading::after{display:inline-block;content:'';margin-left:5px;vertical-align:-1px;height:6px;width:6px;border:3px solid #999;border-right-color:transparent;border-radius:50%;-webkit-animation:rotate-loading 1.5s linear 0s infinite normal;animation:rotate-loading 1.5s linear 0s infinite normal}.swal2-modal .swal2-image{margin:20px auto;max-width:100%}.swal2-modal .swal2-close{font-size:36px;line-height:36px;font-family:serif;position:absolute;top:5px;right:13px;cursor:pointer;color:#ccc;-webkit-transition:color .1s ease;transition:color .1s ease}.swal2-modal .swal2-close:hover{color:#d55}.swal2-modal>.swal2-checkbox,.swal2-modal>.swal2-file,.swal2-modal>.swal2-input,.swal2-modal>.swal2-radio,.swal2-modal>.swal2-select,.swal2-modal>.swal2-textarea{display:none}.swal2-modal .swal2-content{font-size:18px;text-align:center;font-weight:300;position:relative;float:none;margin:0;padding:0;line-height:normal;color:#545454;word-wrap:break-word}.swal2-modal .swal2-checkbox,.swal2-modal .swal2-file,.swal2-modal .swal2-input,.swal2-modal .swal2-radio,.swal2-modal .swal2-select,.swal2-modal .swal2-textarea{margin:20px auto}.swal2-modal .swal2-file,.swal2-modal .swal2-input,.swal2-modal .swal2-textarea{width:100%;box-sizing:border-box;border-radius:3px;border:1px solid #d9d9d9;font-size:18px;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);-webkit-transition:border-color box-shadow .3s;transition:border-color box-shadow .3s}.swal2-modal .swal2-file.swal2-inputerror,.swal2-modal .swal2-input.swal2-inputerror,.swal2-modal .swal2-textarea.swal2-inputerror{border-color:#f06e57!important}.swal2-modal .swal2-file:focus,.swal2-modal .swal2-input:focus,.swal2-modal .swal2-textarea:focus{outline:0;box-shadow:0 0 3px #c4e6f5;border:1px solid #b4dbed}.swal2-modal .swal2-file:focus::-webkit-input-placeholder,.swal2-modal .swal2-input:focus::-webkit-input-placeholder,.swal2-modal .swal2-textarea:focus::-webkit-input-placeholder{-webkit-transition:opacity .3s .03s ease;transition:opacity .3s .03s ease;opacity:.8}.swal2-modal .swal2-file:focus::-moz-placeholder,.swal2-modal .swal2-input:focus::-moz-placeholder,.swal2-modal .swal2-textarea:focus::-moz-placeholder{-webkit-transition:opacity .3s .03s ease;transition:opacity .3s .03s ease;opacity:.8}.swal2-modal .swal2-file:focus:-ms-input-placeholder,.swal2-modal .swal2-input:focus:-ms-input-placeholder,.swal2-modal .swal2-textarea:focus:-ms-input-placeholder{-webkit-transition:opacity .3s .03s ease;transition:opacity .3s .03s ease;opacity:.8}.swal2-modal .swal2-file:focus::placeholder,.swal2-modal .swal2-input:focus::placeholder,.swal2-modal .swal2-textarea:focus::placeholder{-webkit-transition:opacity .3s .03s ease;transition:opacity .3s .03s ease;opacity:.8}.swal2-modal .swal2-file::-webkit-input-placeholder,.swal2-modal .swal2-input::-webkit-input-placeholder,.swal2-modal .swal2-textarea::-webkit-input-placeholder{color:#e6e6e6}.swal2-modal .swal2-file::-moz-placeholder,.swal2-modal .swal2-input::-moz-placeholder,.swal2-modal .swal2-textarea::-moz-placeholder{color:#e6e6e6}.swal2-modal .swal2-file:-ms-input-placeholder,.swal2-modal .swal2-input:-ms-input-placeholder,.swal2-modal .swal2-textarea:-ms-input-placeholder{color:#e6e6e6}.swal2-modal .swal2-file::placeholder,.swal2-modal .swal2-input::placeholder,.swal2-modal .swal2-textarea::placeholder{color:#e6e6e6}.swal2-modal .swal2-range input{float:left;width:80%}.swal2-modal .swal2-range output{float:right;width:20%;font-size:20px;font-weight:600;text-align:center}.swal2-modal .swal2-range input,.swal2-modal .swal2-range output{height:43px;line-height:43px;vertical-align:middle;margin:20px auto;padding:0}.swal2-modal .swal2-input{height:43px;padding:0 12px}.swal2-modal .swal2-input[type=number]{max-width:150px}.swal2-modal .swal2-file{font-size:20px}.swal2-modal .swal2-textarea{height:108px;padding:12px}.swal2-modal .swal2-select{color:#545454;font-size:inherit;padding:5px 10px;min-width:40%;max-width:100%}.swal2-modal .swal2-radio{border:0}.swal2-modal .swal2-radio label:not(:first-child){margin-left:20px}.swal2-modal .swal2-radio input,.swal2-modal .swal2-radio span{vertical-align:middle}.swal2-modal .swal2-radio input{margin:0 3px 0 0}.swal2-modal .swal2-checkbox{color:#545454}.swal2-modal .swal2-checkbox input,.swal2-modal .swal2-checkbox span{vertical-align:middle}.swal2-modal .swal2-validationerror{background-color:#f0f0f0;margin:0 -20px;overflow:hidden;padding:10px;color:gray;font-size:16px;font-weight:300;display:none}.swal2-modal .swal2-validationerror::before{content:'!';display:inline-block;width:24px;height:24px;border-radius:50%;background-color:#ea7d7d;color:#fff;line-height:24px;text-align:center;margin-right:10px}@supports (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range output{display:none}}.swal2-icon{width:80px;height:80px;border:4px solid transparent;border-radius:50%;margin:20px auto 30px;padding:0;position:relative;box-sizing:content-box;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-icon.swal2-error{border-color:#f27474}.swal2-icon.swal2-error .x-mark{position:relative;display:block}.swal2-icon.swal2-error .line{position:absolute;height:5px;width:47px;background-color:#f27474;display:block;top:37px;border-radius:2px}.swal2-icon.swal2-error .line.left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}.swal2-icon.swal2-error .line.right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}.swal2-icon.swal2-warning{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#f8bb86;border-color:#facea8;font-size:60px;line-height:80px;text-align:center}.swal2-icon.swal2-info{font-family:'Open Sans',sans-serif;color:#3fc3ee;border-color:#9de0f6;font-size:60px;line-height:80px;text-align:center}.swal2-icon.swal2-question{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#87adbd;border-color:#c9dae1;font-size:60px;line-height:80px;text-align:center}.swal2-icon.swal2-success{border-color:#a5dc86}.swal2-icon.swal2-success::after,.swal2-icon.swal2-success::before{content:'';border-radius:50%;position:absolute;width:60px;height:120px;background:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-success::before{border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}.swal2-icon.swal2-success::after{border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px}.swal2-icon.swal2-success .placeholder{width:80px;height:80px;border:4px solid rgba(165,220,134,.2);border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}.swal2-icon.swal2-success .fix{width:7px;height:90px;background-color:#fff;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-icon.swal2-success .line{height:5px;background-color:#a5dc86;display:block;border-radius:2px;position:absolute;z-index:2}.swal2-icon.swal2-success .line.tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal2-icon.swal2-success .line.long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal2-progresssteps{font-weight:600;margin:0 0 20px;padding:0}.swal2-progresssteps li{display:inline-block;position:relative}.swal2-progresssteps .swal2-progresscircle{background:#3085d6;border-radius:2em;color:#fff;height:2em;line-height:2em;text-align:center;width:2em;z-index:20}.swal2-progresssteps .swal2-progresscircle:first-child{margin-left:0}.swal2-progresssteps .swal2-progresscircle:last-child{margin-right:0}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep{background:#3085d6}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progresscircle{background:#add8e6}.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep~.swal2-progressline{background:#add8e6}.swal2-progresssteps .swal2-progressline{background:#3085d6;height:.4em;margin:0 -1px;z-index:10}[class^=swal2]{-webkit-tap-highlight-color:transparent}@-webkit-keyframes showSweetAlert{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes showSweetAlert{0%{-webkit-transform:scale(.7);transform:scale(.7)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes hideSweetAlert{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}@keyframes hideSweetAlert{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}100%{-webkit-transform:scale(.5);transform:scale(.5);opacity:0}}.swal2-show{-webkit-animation:showSweetAlert .3s;animation:showSweetAlert .3s}.swal2-show.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-hide{-webkit-animation:hideSweetAlert .15s forwards;animation:hideSweetAlert .15s forwards}.swal2-hide.swal2-noanimation{-webkit-animation:none;animation:none}@-webkit-keyframes animate-success-tip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@keyframes animate-success-tip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@-webkit-keyframes animate-success-long{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@keyframes animate-success-long{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@-webkit-keyframes rotatePlaceholder{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@keyframes rotatePlaceholder{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}100%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}.animate-success-tip{-webkit-animation:animate-success-tip .75s;animation:animate-success-tip .75s}.animate-success-long{-webkit-animation:animate-success-long .75s;animation:animate-success-long .75s}.swal2-success.animate::after{-webkit-animation:rotatePlaceholder 4.25s ease-in;animation:rotatePlaceholder 4.25s ease-in}@-webkit-keyframes animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes animate-error-icon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}.animate-error-icon{-webkit-animation:animate-error-icon .5s;animation:animate-error-icon .5s}@-webkit-keyframes animate-x-mark{0%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}50%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}80%{-webkit-transform:scale(1.15);transform:scale(1.15);margin-top:-6px}100%{-webkit-transform:scale(1);transform:scale(1);margin-top:0;opacity:1}}@keyframes animate-x-mark{0%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}50%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}80%{-webkit-transform:scale(1.15);transform:scale(1.15);margin-top:-6px}100%{-webkit-transform:scale(1);transform:scale(1);margin-top:0;opacity:1}}.animate-x-mark{-webkit-animation:animate-x-mark .5s;animation:animate-x-mark .5s}@-webkit-keyframes pulse-warning{0%{border-color:#f8d486}100%{border-color:#f8bb86}}@keyframes pulse-warning{0%{border-color:#f8d486}100%{border-color:#f8bb86}}.pulse-warning{-webkit-animation:pulse-warning .75s infinite alternate;animation:pulse-warning .75s infinite alternate}@-webkit-keyframes rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-loading{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
